*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #FAFAFA;
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

a {
  color: #fafafa;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
